.flex-container-albumContent {
    background-image: linear-gradient(to bottom Right,  #cc0052, #990000, black);
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding:100px;
}

.flex-container-albumList {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding:0px;
}



  