* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: bebas_neuebold; 
  line-height: 1.4;
}

a {
  color: #333333;
  text-decoration: none
}

h1{
  text-align: center;
}

